@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rubik:wght@400;500;600;700&display=swap');

/* font-family: 'PT Serif', serif;
font-family: 'Rubik', sans-serif; */

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  color: black;
}

body {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: none;
  padding: none;

}

/* header  */
.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 35px;
  background-color: #f1faee;
  margin-bottom: 15px;
}

.header .brand-name {
  justify-self: flex-start;
  font-weight: 700;
  font-size: 20px;
  align-self: center;
}

.searchBar-Btn {
  display: flex;
}

.searchBar-Btn>input {
  height: 25px;
  border: 1px solid #000;
}

.header button {
  height: 25px;
  border: 1px solid #000;
  object-fit: contain;
  position: relative;
}


.header .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-links>a {
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #caf0f8;
}

a:hover {
  filter: brightness(0.93);
}

/* body */
.body-jsx .sort-area {
  display: flex;
  gap: 20px;
}

/* post block  */

.postBlockContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  /* width: 97vw; */
  padding: 10px;
  padding-bottom: 15px;
  background-color: #caf0f8;
  margin: 8px;
  border-radius: 3px;
}

.post-block-data {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.post-block-title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

/* post detail page  */
.postDetailPage {
  display: flex;
  flex-direction: column;
  width: 99vw;
}

.postDetailTopRow {
  display: flex;
  justify-content: space-between;
}

.postDetailTopRow img {
  display: flex;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  object-fit: contain;
}

.buttonRow {
  display: flex;
  /* border: 1px solid #000; */
  gap: 10px;
  background-color: #f1faee;
  width: fit-content;
  height: 50px;
  padding: 8px 10px;
  border-radius: 5px;
  align-items: center;
}

.buttonRow>button {
  height: 35px;
}

.BtnEmoji {
  width: auto;
  font-size: 25px;
  background: none;
  border: none;
  text-align: center;
}

.postDetailBottomRow {
  width: 100vw;
  padding: 20px;
}

.addReplyFormDiv form input {
  width: 90vw;
  height: 60px;
}


.addReplyFormDiv form button {
  width: 5vw;
  min-width: 50px;
  height: 60px;
}

.comment-heading {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.postReplies {
  width: 95vw;
  padding: 10px 20px;
  background-color: #ced4da;
  border: 1px solid #b7bcc1;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.createPage form {
  display: flex;
  flex-direction: column;
}

.createPage input {
  margin-bottom: 18px;
  width: 95vw;
  height: 30px;
  font-size: 15px;
}

.createPage button {
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.error-message {
  padding: 10px 20px;
  width: fit-content;
  background-color: rgb(226, 59, 59);
  margin: 10px;
}

.button-row {
  display: flex;
  gap: 15px;
}
